anyascii==0.3.3
coqpit==0.0.17
coqui-trainer==0.0.5
cython==0.29.36
fsspec==2025.10.0
gruut==2.0.1
inflect==7.5.0
jieba==0.42.1
librosa==0.8.1
matplotlib==3.7.5
mecab-python3==1.0.3
numpy==1.23.5
pypinyin==0.55.0
pysbd==0.3.4
pyworld==0.3.4
pyyaml==6.0.3
scipy==1.10.1
soundfile==0.13.1
tqdm==4.69.1
unidic-lite==1.0.8
